* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

#transactionsContainerMain {
  border: 1px solid black;
  width: 60dvw;
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#allTransactionsContainer {
  border: 1px solid red;
  width: 40dvw;
  height: 40dvh;
}

.filters {
  border: 1px solid grey;
  width: 100%;
  height: 5dvh;
}

.calculations {
  display: flex;
  justify-content: space-around;
}
