* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

#transactionsContainerMain {
  border: 1px solid black;
  width: 60dvw;
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid green; */
  width: 100%;
}

.filters {
  /* border: 1px solid grey; */
  /* width: 100%; */
  height: 5dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#allTransactionsContainer {
  border: 1px solid red;
  width: 40dvw;
  height: 40dvh;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.calculations {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
